<main class="container">
    <div class="container" style="padding: 10px;">
        <h2 style="display: inline-block;">Welcome to</h2>
        <h2 style="display: inline-block; color: darkmagenta; margin: 0; padding-left: 3px;">Quiz Adda</h2>
    </div>
    <div class="bg-light p-5 rounded shadow-lg p-3 mb-5 bg-body rounded">
        <h4 class="h4 mb-3 fw-normal text-muted">Register yourself in Quiz Adda</h4>

        <div class="form-floating" style="padding-bottom: 4px;">
            <input type="text" class="text form-control" name="userName" placeholder="Enter name" required autocomplete="off">
            <label for="floatingInput">User name</label>
        </div>

        <div class="form-floating" style="padding-bottom: 4px;" >
            <input type="email" class="text form-control" id="floatingInput" placeholder="name@example.com" name="userEmail"
                autocomplete="off" required>
            <label for="floatingInput">Email address</label>
        </div>
    </div>

</main>